port {{ redis_sentinel_port }}
sentinel monitor {{ redis_sentinel_master_set_name }} {{ redis_master_host }} {{ redis_master_port }} {{ redis_sentinel_quorum_count }}
sentinel down-after-milliseconds {{ redis_sentinel_master_set_name }} {{ redis_sentinel_down_after_milliseconds }}
sentinel failover-timeout {{ redis_sentinel_master_set_name }} {{ redis_sentinel_failover_timeout }}
sentinel parallel-syncs {{ redis_sentinel_master_set_name }} {{ redis_sentinel_parallel_syncs }}
sentinel auth-pass {{ redis_sentinel_master_set_name }} {{ redis_requirepass }}
sentinel announce-ip {{ redis_host_ip }}
sentinel announce-port {{ redis_sentinel_port }}
